<section class="px-4 py-5 bg-white dark:bg-gray-800" id="createEventPage">
  <span class="text-2xl font-semibold dark:text-white">Create event</span>
  <hr class="divider-b mb-3 mt-1" />
  <form>
    <div class="mb-2">
      <label class="form-label">Name</label>
      <input type="text" v-model="form.name" name="date" class="form-input" />
    </div>
    <div class="mb-4">
      <label class="form-label">Date</label>
      <input
        type="date"
        v-on:input="handleDateInput"
        name="date"
        :value="toISO8601DateString(form.date)"
        class="form-input"
      />
    </div>
    <div>
      <button
        type="button"
        class="btn-primary-outline mb-3"
        v-on:click="addActivity"
      >
        <i class="fas fa-plus"></i>
        Add activity
      </button>
    </div>
    <div class="table-container overflow-y-hidden mb-3">
      <table class="table">
        <thead class="thead">
          <tr>
            <th class="th">Name</th>
            <th class="th">Start time</th>
            <th class="th">End time</th>
            <th class="th"></th>
          </tr>
        </thead>
        <tbody class="tbody">
          <tr class="tbody-row" v-for="(activity, index) of form.activities">
            <td class="td">
              <label>Name</label>
              <input type="text" class="form-input" />
            </td>
            <td class="td">
              <label>Start time</label>
              <input type="text" class="form-input" />
            </td>
            <td class="td">
              <label>End time</label>
              <input type="text" class="form-input" />
            </td>
            <td class="td">
              <button
                type="button"
                class="btn-danger mt-3"
                v-on:click="removeActivity(index)"
              >
                Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button type="submit" class="btn-primary">Save</button>
    </div>
  </form>
</section>
@section Scripts{
<script src="~/dist/js/event/create-event.js"></script>
}
