
<section class="p-4 mt-5" id="createEventPage">
<span class="text-2xl font-semibold  dark:text-white">Create event</span>
<hr class="divider-b mb-3 mt-1"></hr>
<form>
    <div class="mb-2">
        <label class="form-label">Name</label>
        <input type="text" name="date" class="form-input">
    </div>
    <div class="mb-4">
        <label class="form-label">Date</label>
        <input type="date" name="date" class="form-input">
    </div>
   <div>
    <button type="button" class="btn-primary-outline">
        <i class="fas fa-plus"></i>
        Add activity</button>
   </div>
   <div class="table-container mb-3">
    <table>
        <tr>
            <th>Name</th>
            <th>Start time</th>
            <th>End time</th>
            <th></th>
        </tr>
        <tbody>

        </tbody>
    </table>
   </div>
   <div>
    <button type="submit" class="btn-primary">Save</button>
   </div>
</form>
</section>
@section Scripts{
    <script src="~/dist/js/event/create-event.js"></script>
}